<?xml version="1.0"?>
<doc>
    <assembly>
        <name>TicTacToe</name>
    </assembly>
    <members>
        <member name="T:TicTacToe.Controllers.Controller">
            <summary>
            Plays a turn of Tic Tac Toe given the current board state.
            </summary>
        </member>
        <member name="M:TicTacToe.Controllers.Controller.Post(TicTacToe.Models.Board)">
            <summary>
            Plays a turn of Tic Tac Toe given the current board state.
            </summary>
            <param name="startBoard">Required. List of strings representing the current game state. Acceptable strings are either a player symbol ("X"|"O") or "?" if empty.</param>
            <returns>A new board state.</returns>
        </member>
        <member name="T:TicTacToe.Startup">
            <summary>
            Defines the configuration of the Web API applicaiton
            </summary>
        </member>
        <member name="M:TicTacToe.Startup.#ctor(Microsoft.Extensions.Configuration.IConfiguration,Microsoft.AspNetCore.Hosting.IHostingEnvironment)">
            <summary>
            Initializes a new instance of the <see cref="T:TicTacToe.Startup" /> class.
            </summary>
            <param name="configuration">The configuration.</param>
            <param name="hostingEnvironment">The hosting environment.</param>
        </member>
        <member name="P:TicTacToe.Startup.HostingEnvironment">
            <summary>
            Gets the hosting environment.
            </summary>
            <value>
            The hosting environment.
            </value>
        </member>
        <member name="P:TicTacToe.Startup.Configuration">
            <summary>
            Gets the configuration.
            </summary>
            <value>
            The configuration.
            </value>
        </member>
        <member name="M:TicTacToe.Startup.ConfigureServices(Microsoft.Extensions.DependencyInjection.IServiceCollection)">
            <summary>
            This method gets called by the runtime. Use this method to add services to the container.
            </summary>
            <param name="services">The services.</param>
        </member>
        <member name="M:TicTacToe.Startup.ConfigureSwaggerUI(Swashbuckle.AspNetCore.SwaggerGen.SwaggerGenOptions)">
            <summary>
            SWAGGER: Configures the swagger UI.
            </summary>
            <param name="swaggerGenOptions">The swagger gen options.</param>
        </member>
        <member name="M:TicTacToe.Startup.Configure(Microsoft.AspNetCore.Builder.IApplicationBuilder,Microsoft.AspNetCore.Hosting.IHostingEnvironment)">
            <summary>
            Configures the specified application.
            </summary>
            <param name="app">The application.</param>
            <param name="env">The env.</param>
        </member>
    </members>
</doc>
